<div class="product__aside">
  <div class="buy">
    <div class="buy__tab">
      <div class="buy__header buy__header--campfire">
        <figure>
          <picture>
            <source srcset="/assets/images/logo-cooperative.webp" type="image/webp">
            <img src="/assets/images/logo-cooperative.png" width="284" height="312" alt="Cooperative">
          </picture>
        </figure>
        <dl>
          <dt>Cooperative</dt>
        </dl>
      </div>
      <div class="buy__content">
        <h4>What's included?</h4>
        <ul style="margin-left: 2em; list-style-type: disc;">
          <li><strong>A Dual Vault Savings Account</strong>: Borrow against your savings while they continue to grow</li>
          <li><strong>Annual Dividend Payouts</strong>: Earn competitive annual dividends on your total savings.</li>
          <li><strong>A 24/7 WhatsApp-Powered Bot</strong>: Manage your entire account anytime directly through WhatsApp.</li>
          <li><strong>Secure, Collateralized Lending</strong>: Get access to secure loans that are fully backed by your savings.</li>
        </ul>
        <h4>How do you get it?</h4>
        <p>You can join and start managing your finances by interacting directly with our intelligent WhatsApp bot.</p>
      </div>
      <div class="buy__button">
        <a href="https://joincooperative.com"><span>Cooperative by Worx</span></a>
      </div>
    </div>
    <div class="buy__notes">
    </div>
  </div>
</div>
